@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height:100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}


.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover, 
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display:none;
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-img img {
    margin-left: 3rem;
    position: relative;
    top: -3rem; /* per alzare la fotina */
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}


@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.home-text {
    margin: 0 100px 0 -5px;
}



.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background:transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 2.5rem 3rem 0;
    transition: .5s ease;
    
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 .5rem var(--main-color);

}

.btn {
    display: inline-block;
    padding: 1rem 2.7rem;
    background: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 4rem;
    transition: .5s ease-in-out;
    color: var(--second-bg-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
}

.btn:hover{
    box-shadow: 0 0 0.7rem var(--main-color);
    color: var(--second-bg-color);
    background-color: var(--main-color);
    border: 1px solid transparent;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img{
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size:1.6rem;
    margin: 2rem 0 3rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.visible {
    opacity: 1;
    max-height: 1000px;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}


.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.visible {
    opacity: 1;
    max-height: 1000px;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.services-container .services-box {
    height: 300px; /* Fixed height */
    overflow-y: auto; /* Enable vertical scrolling for overflow content */
    max-width: 50rem; /* Maximum width of the box */
    flex: 1 1 50rem;  /* Flexbox properties */
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;

    /* Flexbox properties to center content */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}

.services-box .icon {
    width: 8rem;
    height: 8rem;
    color: var(--main-color);
}

.services h2 {
    margin-bottom: 5rem;
}

.services-box h3 {
    font-size: 3.5rem;
    margin: 1rem 0; /* Adjust margin for better spacing */
}

.services-box p {
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
    text-align: justify;
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i{
    font-size: 8rem;
    color: var(--main-color);
}


.portfolio{
    background: var(--bg-color);
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-layer h4{
    color: var(--main-color);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--second-bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio-layer h4{
    font-size: 2.5rem;
}

.portfolio-box a{
    transition: .5s ease;
}
.portfolio-box a:hover{
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.portfolio-box i{
    transition: .5s ease;
}

.portfolio-box a:hover i {
    color: var(--text-color);
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.demos {
    background: var(--second-bg-color);
}

.demos h2 {
    margin-bottom: 4rem;
}

.demos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(max-content, 1fr);
    align-items: center;
    gap: 2.5rem;
  }
  
.demos-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    height: 300px; /* Imposta l'altezza fissa desiderata per tutte le demos-box */
}

.demos-box .image-wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.demos-box .image-wrapper img {
    display: none; /* Nasconde l'immagine originale */
}

.demos-box .demos-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--second-bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.demos-box:hover .demos-layer {
    transform: translateY(0);
}

.demos-container .demos-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.demos-box img {
    width: 100%;
    transition: .5s ease;
}

.demos-layer h4 {
    color: var(--main-color);
}

.demos-box .demos-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--second-bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.demos-box:hover .demos-layer {
    transform: translateY(0);
}

.demos-box img:hover {
    transform: scale(1.1);
}

.demos-layer h4 {
    font-size: 2.5rem;
}

.demos-box a {
    transition: .5s ease;
}

.demos-box a:hover {
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.demos-box i {
    transition: .5s ease;
}

.demos-box a:hover i {
    color: var(--text-color);
}

.demos-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.demos-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.demos-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}


.contact {
    background: var(--bg-color);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.input-box2 input{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}


.contact form textarea{
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

/* BREAKPOINTS */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    .services{
        padding-bottom: 7rem;
    }

    .portfolio{
        padding-bottom: 7rem;
    }

    .demos{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon {
        display: block;
    }

    .about-img img{
        width: 70vw;
    }

    .home-text {
        margin: 0 0px 0 -5px;
    }

    .home-text .h3{
        font-size: 20px;
    }

    .home-text .multiple-text {
        font-size: 20px; /* or any value that suits your design */
      }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img Ì†{
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2{
        margin-bottom: 3rem;
    }

    .portfolio h2{
        margin-bottom: 3rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .demos h2{
        margin-bottom: 3rem;
    }

    .demos-container{
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
    .demos-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px){
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%,
    }
}

@media (max-width: 375px){
    .home-img img {
        width: 90vw;
    }

    .home-text{
        margin: 0 20px 0 -5px;
    }

    .about-img img{
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

}

/* Aggiungi una nuova classe specifica alla griglia dei post del blog */
.blog-posts-grid {
    display: grid;
    grid-template-columns: 1fr; /* Una colonna per articolo */
    gap: 2rem;
    max-width: 100%;
    margin: 0 auto;
}


.blog-post {
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    transition: background-color 0.3s ease;
    margin-bottom: 2rem;
}

.post-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.post-meta {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.post-content {
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.read-more-link {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.read-more-link:hover {
    color: var(--main-color-dark);
}

/* Aggiungi stili specifici per i post del blog */
.blog-post h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.blog-post p {
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Altri stili per i link all'interno dei post */
.blog-post a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.blog-post a:hover {
    color: var(--main-color-dark);
}

.blog {
    margin-bottom: 4rem; /* Puoi regolare il valore del margine a tuo piacimento */
    /* Inverti i colori di sfondo per le sezioni blog e contact */
    background: var(--second-bg-color);
}

.blog h2 {
    margin-bottom: 2rem; /* Aggiungi un margine inferiore al titolo se necessario */
}



