@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.slides-container {
  width: 60vw;
  height: 50vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  top: 5rem;
}

.slide {
  width: 80%;
  height: 100%;
  position: absolute;
  transition: transform 300ms ease-out;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  border: 2px solid white;
}

.slide[data-video] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide[data-video] iframe {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  border: 2px solid white;
}

.btn-crsl {
  background: solid white;
  border: none;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  transform: translateY(-50%);
  position: absolute;
  border-radius: 10rem;
  transition: 0.5s ease;
  margin: 0.5rem;
}

.btn-crsl i {
  color: var(--second-bg-color);
  font-size: 2.5rem;
  position: relative;
  top: 0.25rem;
}

.btn-crsl:hover {
  background: var(--main-color);
  box-shadow: 0 0 0.5rem var(--main-color);
}

.btn-crsl:hover i {
  color: white;
}

.btn-crsl.previous {
  top: 50%;
  left: 0;
}

.btn-crsl.next {
  top: 50%;
  right: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #090909;
  display: grid;
  place-items: center;
}

.project-footer {
  position: fixed;
  bottom: 0;
  padding: 2rem 9%;
  background: var(--second-bg-color);
  width: 100%;
}

.footer-text p {
  font-size: 1.6rem;
  text-align: center;
}

.logo {
  transition: 0.5s ease;
}

.logo:hover {
  color: var(--main-color);
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.project-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.project-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.project-content p {
  margin: 3.5rem;
  width: 50vw;
  padding: 5rem 2.5rem;
  font-size: 1.6rem;
}

@media (max-width: 1000px) {
  .slides-container {
    width: 90vw;
    height: 25vh;
    display: flex;
    white-space: nowrap; /* aggiunta */
    overflow-x: hidden; /* aggiunta */
    align-items: center;
    justify-content: space-around;
  }


}
